.container {
  background-image: url("../../assets/images/bg.jpeg");
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  // align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Titillium-BoldUpright";
  src: url("../../assets/fonts/Titillium/Titillium-BoldUpright.otf");
  // font-weight: 200;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-top: 20px;
  color: #000000;
}
.textField {
  border-radius: 25px;
  border: solid 1px white;

  margin-top: 0px;
  margin-bottom: 15px;
  top: 25px;
  width: 75%;
  background: aliceblue;
}

.logo {
  height: 25%;
}
.input {
  padding-left: 100px;
  margin-left: 7px;
  font-family: "Titillium-Semibold";
  src: url("../../assets/fonts/Titillium/Titillium-Semibold.otf");
  font-weight: 200;
  font-style: normal;
}

// .buttonLogin {
//   // margin-top: 25px;
//   border-radius: 25px !important;
//   width: 75%;

//   button {
//     border-radius: 25px !important;
//   }
// }
.buttonLogin {
  width: 75%;
  margin-top: 35px;
  font-family: "Titillium-Regular";
  src: url("../../assets/fonts/Titillium/Titillium-Regular.otf");
  font-size: 16px;
}
.socialButton {
  width: 45%;
  margin-top: 25px;
  font-family: "Titillium-Regular";
  src: url("../../assets/fonts/Titillium/Titillium-Regular.otf");
  font-size: 70%;
  height: 40px;
}

.forgotPass {
  font-family: "Titillium-BoldUpright";
  src: url("../../assets/fonts/Titillium/Titillium-BoldUpright.otf");
  // font-weight: 200;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
}

.horizontalSeperator {
  height: 1px !important;
  width: 500px !important;
  background: black !important;
  // display: block !important;
  // font-size: 2em !important;
  // opacity: 1 !important;
  visibility: visible !important;
}
.seperatorView {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.orLabel {
  font-family: "Titillium-BoldUpright";
  src: url("../../assets/fonts/Titillium/Titillium-BoldUpright.otf");
  // font-weight: 200;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 10px;
  margin: 2px;
}
.socialDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
.iconStyle {
  margin-right: 5px;
  font-size: 15px;
  // left: 10px;
}

.validate {
  height: 20px;
  width: 20px;
  // display: none;
}
.validateCross {
  height: 20px;
  width: 20px;
  // display: none;
}
